name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
    paths:
      - 'nexus-whitepaper.pdf'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_NEXUS_WHITEPAPER }}
          channelId: live
          projectId: nexus-whitepaper
